{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>stagedings</h2>
      <h5>
        An UI and API for
        <a href="https://github.com/mididings/mididings" target="_blank">mididings community version</a>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="list-group">
        <a class="list-group-item list-group-item-action active" target="_blank" href="/ui/">Load the UI</a></li>
        <a class="list-group-item list-group-item-action" target="_blank" href="/docs">Swagger documentation</a>
        <a class="list-group-item list-group-item-action" target="_blank" href="/redoc">Redoc documentation</a>
        <a class="list-group-item list-group-item-action" target="_blank"
          href="https://www.github.com/stefets/stagedings">Stagedings repository on GitHub</a>
        <a class="list-group-item list-group-item-action" target="_blank"
          href="https://mididings.github.io/mididings/">The mididings API documentation</a>
      </div>
    </div>
  </div>
</div>
{% endblock body %}