{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>stagedings</h1>
      <h4>An UI and API for the mididings community version</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="list-group">
        <a class="list-group-item list-group-item-action active" target="_blank" href="/ui/">Load the UI</a></li>
        <a class="list-group-item list-group-item-action" target="_blank" href="/docs">Swagger specification</a>
        <a class="list-group-item list-group-item-action" target="_blank" href="/redoc">Redoc specification</a>
        <a class="list-group-item list-group-item-action" target="_blank"
          href="https://www.github.com/stefets/fastdings">Github repository</a>
        <a class="list-group-item list-group-item-action" target="_blank"
          href="https://mididings.github.io/mididings/">mididings API documentation</a>
      </div>
    </div>
  </div>
</div>
{% endblock body %}