{% extends 'base.html' %} {% block body %}

<div class="container">

    <!-- Header -->
    <div class="row mb-1 mt-1">

        <div class="col-md-4 bg-secondary">

            <div class="row mt-1">
                <div class="col-md-3">
                    <input class="w-100 btn btn-outline-warning" type="button" id="restart" value="Restart">
                </div>
                <div class="col-md-3">
                    <input class="w-100 btn btn-outline-warning" type="button" id="panic" value="Panic">
                </div>
                <div class="col-md-3">
                    <input class="w-100 btn btn-outline-primary" type="button" id="query" value="Query">
                </div>
                <div class="col-md-3">
                    <input class="w-100 btn btn-danger" type="button" id="quit" value="Quit">
                </div>
            </div>
        </div>

        <div class="col-md-8 bg-light">
            <div class="row">
                <div class="col-md-10">
                    <h3>
                        <!-- Fil d'ariane -->
                        /<span class="text-primary" id="current_scene_name"></span>/<span class="text-info"
                            id="current_subscene_name"></span>
                    </h3>
                </div>
                <div class="col-md-2">
                    <span id="current_scene"></span>.<span id="current_subscene"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="row mb-1">
        <!-- Liste de scenes -->
        <div id="scenes" class="col-md-4 bg-light"> </div>
        <!-- Sous-scenes de la scene courante -->
        <div id="subscenes" class="col-md-8 bg-light"> </div>
    </div>

    <!-- Footer -->
    <div class="row mt-2">

        <!-- Application status console -->
        <div class="col-md-4 bg-secondary">
            <!-- Console header -->

            <div class="row">
                <div class="bg-secondary col-md-4 text-center">
                    <div class="bg-light">
                        Mididings
                    </div>
                </div>
                <div class="bg-secondary col-md-4 text-center">
                    <div class="bg-light">
                        FastAPI Server
                    </div>
                </div>
                <div class="bg-secondary col-md-4 text-center">
                    <div class="bg-light">
                        This client
                    </div>
                </div>
            </div>

            <!-- Services state -->
            <div id="console" class="row">
                <div id="mididings-state" class="bg-secondary col-md-4 text-center">
                </div>
                <div id="server-state" class="bg-secondary col-md-4 text-center">
                </div>
                <div id="client-state" class="bg-secondary col-md-4 text-center">
                </div>
            </div>
        </div>

        <!-- Scene and Sub-Scene navigation -->
        <div class="col-md-8 bg-light">
            <div class="row mt-1">
                <div class="col-md-3">
                    <input class="w-100 btn btn-outline-primary btn-sm" type="button" id="prev_scene"
                        value="Previous Scene">
                </div>
                <div class="col-md-3">
                    <input class="w-100 btn btn-outline-primary" type="button btn-lg" id="prev_subscene"
                        value="Previous Sub-Scene">
                </div>
                <div class="col-md-3">
                    <input class="w-100 btn btn-outline-primary" type="button btn-sm" id="next_subscene"
                        value="Next Sub-Scene">
                </div>
                <div class="col-md-3">
                    <input class="w-100 btn btn-outline-primary btn-sm" type="button" id="next_scene"
                        value="Next scene">
                </div>
            </div>
        </div>

        {% endblock body %}

        {% block websockets %}

        <script type="text/javascript" charset="utf-8">
            $(document).ready(function () {

                let scheme = window.location.protocol === "https:" ? "wss" : "ws";
                let socket = new WebSocket(`${scheme}://${window.STAGEDINGS_CONFIG.wsHost}/ws`);

                socket.onopen = function (event) {
                    socket.send('{"action" : "on_connect"}');
                    $('#client-state').html('<div class="card border-success">ONLINE</div>');
                    $('#mididings-state').html('<div class="card border-success">ONLINE</div>');
                    $('#server-state').html('<div class="card border-success">ONLINE</div>');
                }

                socket.onmessage = function (event) {
                    const json = JSON.parse(event.data);
                    const action = json["action"];
                    const payload = json["payload"];
                    switch (action) {
                        case "mididings_context_update":
                            refresh(payload);
                            break;
                        case "on_exit":
                            exit();
                            break;
                        case "on_start":
                            start();
                            break;
                        case "on_terminate":
                            terminate();
                            break;
                        default:
                            break;
                    }
                }

                function start() {
                    $('#mididings-state').html('<div class="card border-success">ONLINE</div>');
                }

                function exit() {
                    $('#mididings-state').html('<div class="card border-danger">OFFLINE</div>');
                }

                function terminate() {
                    socket.close();
                    $('#client-state').html('<div class="card border-danger">OFFLINE</div>');
                    $('#mididings-state').html('<div class="card border-danger">OFFLINE</div>');
                }

                function refresh(context) {
                    //
                    // Redraw the content section
                    //                
                    var count = 0;
                    var content = "";
                    var subscenes = [];

                    // Reset content
                    $("#scenes").text("");                  // Clear scene content 
                    $('#subscenes').text("");               // Clear subscenes content
                    $('#current_subscene_name').text(".");  // Default value
                    $('#current_subscene').text("x");       // Default value

                    // Scenes
                    for (let index in context.items) {

                        var scene = context.items[index];

                        if (count % 2 == 0)
                            content += "<div class='row mt-1 mb-1'>";

                        // Button style
                        var button_class = "'w-100 btn btn-block switch_scene ";
                        if (scene.current) {
                            $('#current_scene').text(scene.id);
                            $('#current_scene_name').text(scene.name);
                            button_class += "btn-primary'";
                            subscenes = scene.subscenes;
                        }
                        else
                            button_class += "btn-outline-dark'";

                        content += "<div class='col-md-6'>";
                        content += "<input class=" + button_class + " type='button' name='" + scene.id.toString() + "' value='" + scene.name + "'>";
                        content += "</div>";

                        count++;

                        if (count % 2 == 0)
                            content += "</div>";
                    }
                    $('#scenes').text("");
                    $("#scenes").append(content);


                    // Subscenes 
                    count = 0;
                    content = "";

                    $('#current_subscene_name').text("...");
                    for (let index in subscenes) {

                        var scene = subscenes[index];

                        if (count % 4 == 0)
                            content += "<div class='row mt-1 mb-1'>";

                        // Button style
                        var button_class = "'w-100 btn btn-block switch_subscene ";
                        if (scene.current) {
                            button_class += "btn-info'";
                            $('#current_subscene').text(scene.id);
                            $('#current_subscene_name').text(scene.name);
                        }
                        else
                            button_class += "btn-outline-dark'";

                        content += "<div class='col-md-3'>";
                        content += "<input class=" + button_class + " type='button' name='" + scene.id.toString() + "' value='" + scene.name + "'>";
                        content += "</div>";

                        count++;

                        if (count % 4 == 0)
                            content += "</div>";
                    }
                    $('#subscenes').append(content);
                }

                // Scene navigation delegate
                $("#scenes").delegate("input.switch_scene", "click", function (event) {
                    socket.send(JSON.stringify({
                        action: "switch_scene",
                        id: $(this).attr('name')
                    }));
                });

                // Sub-Scene navigation delegate
                $("#subscenes").delegate("input.switch_subscene", "click", function (event) {
                    socket.send(JSON.stringify({
                        action: "switch_subscene",
                        id: $(this).attr('name')
                    }));
                });

                $('#next_scene').click(function (event) {
                    socket.send('{"action" : "next_scene"}');
                });

                $('#prev_scene').click(function (event) {
                    socket.send('{"action" : "prev_scene"}');
                });

                $('#next_subscene').click(function (event) {
                    socket.send('{"action" : "next_subscene"}');
                });

                $('#prev_subscene').click(function (event) {
                    socket.send('{"action" : "prev_subscene"}');
                });

                $('#restart').click(function (event) {
                    socket.send('{"action" : "restart"}');
                });

                $('#panic').click(function (event) {
                    socket.send('{"action" : "panic"}');
                });

                $('#query').click(function (event) {
                    socket.send('{"action" : "query"}');
                });

                $('#quit').click(function (event) {
                    socket.send('{"action" : "quit"}');
                });
            });
            window.addEventListener("beforeunload", () => {
                socket.close();
            });
        </script>
        {% endblock websockets %}